Geral
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  color: #102f53;
  border: 2px solid #102f53;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

button:hover {
  background-color: #102f53;
  color: #fff;

}

button:hover > i {
  color: #fff;
}

button i {
    color: #102f53;
    font-weight: bold;
    pointer-events: none;
}

input,select {
    padding: .25rem .5rem;

}

.hide {
    display: none !important;
}

/* todo header */

.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;

    
}

/* todo form */

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}


/* todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;

}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{

    display: flex;
}
#search input{
    width: 100%;
    margin-right: .3rem;
}

.filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.filter select {
    flex: 1;
}

/* Todo list */

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.todo h3{
    flex: 1;
    font-size: 1rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}






/* Estilos para o modo noturno */
/* Estilos para o modo noturno */
.dark-theme {
    color: #fdfdfd;
  }
  
  .dark-theme button {    
    background-color: #102f53;
    color: #fdfdfd;
    border: px solid #fdfdfd;

  }
  .dark-theme button > i {    
    color: #fdfdfd;
  }
  
  .dark-theme button:hover {    
    background-color: #fdfdfd;
    color: #102f53;
  }
  
  .dark-theme button:hover > i {
    color: #102f53;
  }
  
  .dark-theme input,
  .dark-theme select {
    background-color: #102f53;
    color: #fdfdfd;
    border-color: #102f53;
  }
  
  .dark-theme .todo-container {
    background-color: #333;
    color: #fdfdfd;
  }
  
  .dark-theme .todo-container header {
    border-bottom-color: #fdfdfd;
  }
  
  .dark-theme .todo {
    background-color: #333;
    color: #fdfdfd;
    border-bottom-color: #fdfdfd;
  }
  
  .dark-theme .todo h3 {
    color: #fdfdfd;
  }
  
  .dark-theme .done {
    background-color: #395169;
  }
  
  .dark-theme .done h3 {
    color: #fdfdfd;
    text-decoration: line-through;
    font-style: italic;
  }
  